<% layout("/layouts/boilerplate") %>

<div id="filters">
  <div class="filter" data-filter="Trending">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>

  <div class="filter" data-filter="Rooms">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>

  <div class="filter" data-filter="Iconic Cities">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic Cities</p>
  </div>

  <div class="filter" data-filter="Mountains">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </div>

  <div class="filter" data-filter="Castles">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>

  <div class="filter" data-filter="Amazing Pools">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p>
  </div>

  <div class="filter" data-filter="Camping">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </div>

  <div class="filter" data-filter="Farms">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </div>

  <div class="filter" data-filter="Arctic">
    <div><i class="fa-regular fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>

  <div class="filter" data-filter="Domes">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Domes</p>
  </div>

  <div class="filter" data-filter="Boats">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boats</p>
  </div>

  <div class="tax-toggle">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="switchCheckDefault">
      <label class="form-check-label" for="switchCheckDefault">
        Display total after taxes
      </label>
    </div>
  </div>
</div>

<!-- Listings -->
<div class="row g-4">

    <% for(let listing of allListings){ %>

    <div class="col-12 col-sm-6 col-lg-4">

        <a href="/listings/<%= listing._id %>" class="listing-link">

            <div
                class="card listing-card"
                data-category="<%= listing.category %>"
            >

                <img
                    src="<%= listing.image.url %>"
                    class="card-img-top"
                    alt="listing_image"
                >

                <div class="card-img-overlay"></div>

                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br>

                        &#8377;
                        <%= listing.price.toLocaleString("en-IN") %>
                        / night

                        <span class="tax-info">
                            &nbsp;&nbsp;+18% GST
                        </span>
                    </p>
                </div>

            </div>

        </a>

    </div>

    <% } %>

</div>

<script>

const taxSwitch=document.getElementById("switchCheckDefault");

taxSwitch.addEventListener("click",()=>{

const taxInfo=document.querySelectorAll(".tax-info");

taxInfo.forEach(info=>{

info.style.display=
info.style.display==="inline"
?"none"
:"inline";

});

});

const filters=document.querySelectorAll(".filter");

const cards=document.querySelectorAll(".listing-card");

filters.forEach(filter=>{

filter.addEventListener("click",()=>{

const category=filter.dataset.filter;

cards.forEach(card=>{

if(card.dataset.category===category){

card.parentElement.style.display="block";

}else{

card.parentElement.style.display="none";

}

});

});

});

</script>